body {
	background-color: #4a7428; 
	color: white;
}
a, a:visited {
	color: yellow;
}
li {
	color: white; 
	font-size: 48pt;
	font-family: "fixed";
	margin-left: 10px;
}
li span {
	font-size: 12pt;
}
li span i, li span b {
	background-color: black;
}
#description {
	font-size: 500%;
}
#register {
    border: 2px outset silver ;
	padding: 5px 10px;
	color: black;
	background-color: lightgrey;
	text-decoration:none;
	font-size: 200%;
}
.bigbutton {
    border: 2px outset silver ;
	padding: 5px 10px;
	color: black;
	background-color: lightgrey;
	text-decoration:none;
	font-size: 200%;
}
code {
	background-color: black;
	padding: 5px 10px;
}
code b {
	color: yellow;
}
